<div class="container pt-5 pb-5 text-center" id="rooms">
    <h1 class="m-5">Rooms</h1>
  
    <div class="row">
      <div class="col-sm-4">
        <div class="card text-center m-3 " routerLink="/deluxe">
          <div class="card-header p-0">
            <img
              src="https://images.pexels.com/photos/9007304/pexels-photo-9007304.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load"
              alt="" class="w-100">
          </div>
          <div class="card-body">
            <h5 class="card-title">Deluxe Room</h5>
            <p class="card-text">The spacious Deluxe Rooms are an excellent blend of style and comfort</p>
  
          </div>
          <div class="card-footer text-muted">
            2000 &#8377;
          </div>
        </div>
  
      </div>
      <div class="col-sm-4">
  
        <div class="card text-center m-3" routerLink="/royalDeluxe">
          <div class="card-header p-0">
            <img
              src="https://images.pexels.com/photos/8440280/pexels-photo-8440280.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load"
              alt="" class="w-100">
          </div>
          <div class="card-body">
            <h5 class="card-title">Executive Room</h5>
            <p class="card-text">Enjoy endless possibilities with our signature Hotel hospitality & modern in-room amenities.</p>
  
          </div>
          <div class="card-footer text-muted">
            3000 &#8377;
          </div>
        </div>
  
      </div>
      <div class="col-sm-4">
  
        <div class="card text-center m-3" routerLink="/deluxeFamily">
          <div class="card-header p-0">
            <img
              src="https://images.pexels.com/photos/1034584/pexels-photo-1034584.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load"
              alt="" class="w-100">
          </div>
          <div class="card-body">
            <h5 class="card-title">Family Rooms</h5>
            <p class="card-text">Replete with modern facilities and services, Enjoy endless possibilities with our Hotel</p>
  
          </div>
          <div class="card-footer text-muted">
            4000 &#8377;
          </div>
        </div>
  
      </div>
  
    </div>
  </div>
  
  
  
  
  
  
  
  <!-- <div class="row row-cols-1 row-cols-md-3 g-4 my-5">
      <div class="col">
        <div class="card" type="button" routerLink="/deluxe">
          <img src="assets/images/delux.jpeg" class="card-img-bottom" alt="..." />
          <div class="card-body">
            <h2 class="card-title">Deluxe Room</h2>
          
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" type="button" routerLink="/royalDeluxe">
          <img src="assets/images/delux.jpeg" class="card-img-bottom" alt="..." />
  
          <div class="card-body">
            <h2 class="card-title">Royal Deluxe Room</h2>
         
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" type="button" routerLink="/deluxeFamily" >
          <img src="assets/images/delux.jpeg" class="card-img-bottom" alt="..." />
  
          <div class="card-body">
            <h2 class="card-title">Family Deluxe Room</h2>
         
          </div>
        </div>
      </div>
    </div> -->